<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd">



<wss:binding 
url="/registerProduct">
<wss:service>
<ws:service 
bean="#productServiceWs" />
</wss:service>
</wss:binding>

<bean id="dataSource"
class="org.apache.commons.dbcp.BasicDataSource">
<property name="driverClassName"
value="com.mysql.jdbc.Driver"/>
<property name="url"
value="jdbc:mysql://localhost:3306/nit"/>
<property name="username" value="root"/>
<property name="password" value="root"/>
</bean>
<bean id="productDAO"
 class="com.springjaxwsexample.dao.ProductDAOImpl">
<property name="dataSource"  ref="dataSource"/>
</bean>
<bean id="productService"
class="com.springjaxwsexample.service.ProductServiceImpl">
<property name="productDAO" ref='productDAO'/>
</bean>
<bean id="productServiceWs"
class="com.springjaxwsexample.ws.ProductServiceWs">
<property name="productService" ref="productService"/>
</bean>

</beans>