<web-app>
<servlet>
<servlet-name>jerseyservlet</servlet-name>
<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>jerseyservlet</servlet-name>
<url-pattern>/*</url-pattern>
</servlet-mapping>
</web-app>



